{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

  <h1 class="text-center">{{controller_name}}</h1>

  <div class="container mx-auto mt-4">
    <div class="row">
      <div class="col-md-4">

        <div class="card" style="width: 18rem;">
          <img src="{{asset('assets/images/1000_F_99130742_OsZsx8ku46AP6NPtguwOTr8bSqgfHM5W.jpg')}}" class="card-img-top" alt="...">

          <div class="card-body">
            <h5 class="card-title">Raccoon</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn mr-2 button"><i class="fas fa-link"></i> Visit Site</a>
            <a href="https://github.com/Minicoks" target="_blank" class="btn button"><i class="fab fa-github"></i> Github</a>
          </div>
        </div>
      </div> 

      <div class="col-md-4">

        <div class="card" style="width: 18rem;">
          <img src="{{asset('assets/images/GettyImages-587621789.jpg')}}" class="card-img-top" alt="...">

          <div class="card-body">
            <h5 class="card-title">Fox</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn mr-2 button"><i class="fas fa-link"></i> Visit Site</a>
            <a href="https://github.com/Minicoks" target="_blank" class="btn button"><i class="fab fa-github"></i> Github</a>
          </div>
        </div>
      </div> 

      <div class="col-md-4">

        <div class="card" style="width: 18rem;">
          <img src="{{asset('assets/images/1166417-une-mouette-en-train-de-crier-illustration.jpg')}}" class="card-img-top" alt="...">

          <div class="card-body">
            <h5 class="card-title">Seagull</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn mr-2 button"><i class="fas fa-link"></i> Visit Site</a>
            <a href="https://github.com/Minicoks" target="_blank" class="btn button"><i class="fab fa-github"></i> Github</a>
          </div>
        </div>
      </div> 

      <div class="col-md-4">

        <div class="card" style="width: 18rem;">
          <img src="{{asset('assets/images/une-chose-est-sure-l-autruche-du-haut-de-ses-deux-metres-et-avec-des-pointes-de-vitesse-de-course-a-90-km-h-a-tout-interet-a-courir-si-elle-se-sent-menacee-plutot-qu-a-enfouir-sa-tete-dans-.jpg')}}" class="card-img-top" alt="...">

          <div class="card-body">
            <h5 class="card-title">Ostrich</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn mr-2 button"><i class="fas fa-link"></i> Visit Site</a>
            <a href="https://github.com/Minicoks" target="_blank" class="btn button"><i class="fab fa-github"></i> Github</a>
          </div>
        </div>
      </div> 

      <div class="col-md-4">

        <div class="card" style="width: 18rem;">
          <img src="{{asset('assets/images/téléchargement.jpg')}}" class="card-img-top" alt="...">

          <div class="card-body">
            <h5 class="card-title">Manul</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn mr-2 button"><i class="fas fa-link"></i> Visit Site</a>
            <a href="https://github.com/Minicoks" target="_blank" class="btn button"><i class="fab fa-github"></i> Github</a>
          </div>
        </div>
      </div> 

      <div class="col-md-4">

        <div class="card" style="width: 18rem;">
          <img src="{{asset('assets/images/téléchargement (1).jpg')}}" class="card-img-top" alt="...">

          <div class="card-body">
            <h5 class="card-title">Meerkat</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn mr-2 button"><i class="fas fa-link"></i> Visit Site</a>
            <a href="https://github.com/Minicoks" target="_blank" class="btn button"><i class="fab fa-github"></i> Github</a>
          </div>
        </div>
      </div>
    </div> 
  </div> 

{% endblock %}
