<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}🦝{% endblock %}</title>
        <link rel="icon" href="assets/images/raccoon_1f99d.png">
        <link href="{{asset('assets/css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{asset('assets/css/style.css')}}" rel="stylesheet">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header style="margin-bottom: 2%;">
            {# Nav Bar #}
            <nav class="navbar navbar-expand-lg navbar-light bg-primary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{path('accueil')}}"><img src="{{asset('assets/images/raccoon_1f99d.png')}}" alt="raccoon" width="50px"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{path('accueil')}}">Accueil</a>
                        </li>
                        {% if is_granted('ROLE_ADMIN')%}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="{{path('presentationProduit')}}" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Admin
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark bg-warning" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li><a class="dropdown-item " href="{{path('presentationProduit')}}">Produit1</a></li>
                                <li><a class="dropdown-item" href="{{path('category_index')}}">Produit2</a></li>
                                <li><a class="dropdown-item" href="{{path('produit_index')}}">Produit3</a></li>
                        
                            </ul>
                        </li>
                        {% elseif is_granted('ROLE_USER') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{path('presentationProduit')}}">Produit</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('contact')}}">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('login')}}">Login</a>
                        </li>
                        {% if is_granted('ROLE_USER')%}
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('app_logout')}}">Logout</a>
                        </li>
                        {% endif %}
                        {% if is_granted('ROLE_USER')%}
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('app_register')}}">Register</a>
                        </li>
                        {% endif %}
                        {% if is_granted('ROLE_USER')%}
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('profil')}}">Profil</a>
                        </li>
                        {% endif %}
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                    </div>
                </div>
            </nav>

        </header>

        {% block body %}{% endblock %}

        <footer class="text-center bg-primary" style="margin-top: 2%;">
            <div>
                TC Web 2022
            </div>

            <div>
                <a href="mentions" style="text-decoration: none; color:white;">Mentions Légales</a>
            </div>
        </footer>

        <script src="{{asset('assets/js/bootstrap.bundle.min.js')}}"></script>
    </body>
</html>
